---
import videosData from '../data/videos.json';

interface Video {
    id: string;
    title: string;
    description: string;
    category: string;
    platform: string;
    duration: string;
    url: string;
}


function getRandomVideos(videos: Video[], count: number): Video[] {
    const shuffled = [...videos].sort(() => 0.5 - Math.random());
    return shuffled.slice(0, count);
}

// Imagen predeterminada
const DEFAULT_THUMBNAIL = "fondo1.jpg";

// Seleccionar 6 videos aleatorios
const recommendedVideos: Video[] = getRandomVideos(videosData.videos, 6);
---

<section class="bg-slate-100 py-8">
    <h2 class="text-4xl font-semibold text-center text-slate-500 mb-8">Recomendación de Tutoriales</h2>
    <div class="mx-auto max-w-8xl px-20">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            {recommendedVideos.map((video) => (
                <a href={`/videos/${video.id}`} class="group relative block overflow-hidden rounded-2xl bg-white shadow-md transition-all hover:scale-[1.05] hover:shadow-xl">
                    <div class="w-full h-80 overflow-hidden">
                        <img src={DEFAULT_THUMBNAIL} alt={`Miniatura de ${video.title}`} class="w-full h-full object-cover" />
                    </div>
                    <div class="absolute inset-x-0 bottom-0 z-20 rounded-b-2xl bg-gradient-to-b from-transparent via-black/60 to-black/90 p-6 text-white">
                        <h3 class="my-2 text-2xl font-bold">{video.title}</h3>
                        <p class="text-sm text-slate-300">{video.description}</p>
                    </div>
                </a>
            ))}
        </div>
    </div>
</section>

